<h1>Proze Development</h1>


<p>
  Proze is open source. A suite of proze-related projects are hosted on GitHub
  and contributions are welcome.
</p>

<ul>
  <li>
    <a href="https://github.com/RobotNerd/proze-english-format">Syntax</a>:
    A definition of the proze syntax, configuration options, and other related
    information.
  </li>
  <li>
    <a href="https://github.com/RobotNerd/proze-english-vim">Vim plugin</a>:
    A proze plugin for the vim text editor.
  </li>
  <li>
    <a href="https://github.com/RobotNerd/proze-python-converter">Converter</a>:
    A python application used to compile proze projects into a document
    for publishing.
  </li>
  <li>
    The
    <a href="https://github.com/RobotNerd/proze-org">proze-org</a>
    repository has the code used to generate this website.
  </li>
</ul>