<h1>Getting started with proze</h1>

<p>
  Follow the steps in this document to learn how to use proze.
</p>

<h2>Use a proze-supported editor</h2>

<p>
  Proze is a text-only format, so you can write proze documents in any
  text editor. But if you can use an editor with proze support, you'll
  get more out of it.
</p>

<p>
  Currently, only the vim editor has a plugin for proze, although support
  for other editors is planned for the future. Vim users can install the
  plugin using vundle. See the instructions in the GitHub repository:
  <a href="https://github.com/RobotNerd/proze-english-vim">
  https://github.com/RobotNerd/proze-english-vim</a>.
</p>

<h2>Create a new project</h2>

<p>TODO</p>

<h2>The proze config file</h2>

<p>TODO</p>

<h2>Write your story</h2>

<p>TODO</p>

<h2>Install the proze converter</h2>

<p>TODO</p>

<h2>Compile the project</h2>

<p>TODO</p>

<h2>Addendum: Recommended best practices</h2>

<p>TODO</p>
