<h1>What is proze?</h1>
<p>
  Proze is a set of open source tools that let you write English language
  prose the same way you would write software.
</p>

<p>Proze is made up of these pieces:</p>

<ul>
  <li>
    The proze <a href="syntax.html">syntax</a>.</li>
  <li>
    A proze <a href="tools.html#plugins">plugin</a> for supported text editors.
  </li>
  <li>
    A <a href="tools.html#compiler">compiler</a> that converts a proze project
    into something you can publish.
  </li>
</ul>

<p>
  Read the <a href="getting-started.html">Getting started</a> page for a
  walkthrough of how you can start working with proze.
</p>

<h1>What does it look like?</h1>

<p>
  Proze is plain text. When you use a text editor that has proze
  support, you can take advantage of syntax highlighting. Here's an
  example of what that might look like.
</p>

<div class="proze">
  <span class="title">Title: Dark and Stormy</span>
  <span class="author">Author: Mary Sue</span>
  <br />
  <p>
    It was a dark and stormy night. The wind whipped rain against the
    windows of the old Victorian mansion.
    <span class="character">Cassandra</span> turned on her
    <span class="thing">ecto meter</span> and held it up in front of her
    face. A small green dot popped up on the screen.
  </p>
  <p>
    <span class="character">Matthew</span> peeked over Cassandra's shoulder.
    <span class="dialogue">"Is that a ghost?"</span> he said.
  </p>
  <p>
    <span class="dialogue">"Shush,"</span>
    <span class="character">Cassandra</span> said.
    <span class="dialogue">
      "I'm going to kick you out in the rain if you can't keep your mouth shut."
    </span>
  </p>
</div>

<h1>Why use proze?</h1>

<p>
  Proze is meant for writing short stories, novels, and other documents in
  English language prose. You should use proze if you want to:
</p>

<ul>
  <li>
    Focus on the content of your writing instead of the formatting.
  </li>
  <li>
    Automatically publish your document in multiple formats (pdf, docx, html)
    without having to do any manual formatting.
  </li>
  <li>
    Catch mistakes like misspelled character names while you're writing
    instead of waiting for your editor to find them.
  </li>
</ul>

<h1>Acknowledgements</h1>

<p>
  The creation of proze was inspired by these projects.
</p>

<ul>
  <li>
    <a href="https://fountain.io/">Fountain</a>
  </li>
  <li>
    <a href="https://github.com/adam-p/markdown-here/wiki/Markdown-Cheatsheet">
      GitHub Markdown
    </a>
  </li>
  <li>
    <a href="https://www.latex-project.org/">LaTeX</a>
  </li>
</ul>
