<h1>What is proze?</h1>
<p>
  Proze is a set of open source tools that let you write English language
  prose the same way you would write software.
</p>

<p>Proze is made up of these pieces:</p>

<ul>
  <li>
    The proze <a href="syntax.html">syntax</a>.</li>
  <li>
    A proze <a href="tools.html#plugins">plugin</a> for supported text editors.
  </li>
  <li>
    A <a href="tools.html#compiler">compiler</a> that converts a proze project
    into something you can publish.
  </li>
</ul>

<h1>Quick start</h1>

<p>
  The <a href="getting-started.html">Getting started</a> page provides a
  walkthrough of these steps.
</p>

<ul>
  <li>Install a proze plugin in a supported editor.</li>
  <li>Initialize a new proze project.</li>
  <li>Create a proze config file.</li>
  <li>Write your story using the *.proze format.</li>
  <li>Install the proze converter.</li>
  <li>Compile your proze project to one of the supported output formats.</li>
</ul>
