<div id="menu">
  <span class="left">
    <!-- TODO icon -->
    <span><a href="http://proze.org">proze</a></span>
  </span>
  <span class="right">
    {%- for item in menu_items %}
      {% if item.name == current_page %}
        <span class="selected">{{ item.name }}</span>
      {% else %}
        <span><a href="http://proze.org/{{ item.route }}">{{ item.name }}</a></span>
      {% endif %}
    {%- endfor %}
  </span>
</div>
