@import 'variables.scss';

#menu {
  width: 100%;
  height: 2em;
  background-color: $background-light;
  padding: 5px 0 5px 0;
  margin-top: 0.5em;

  a {
    color: $menu-color;
    text-decoration: none;
  }

  .left {
    position: absolute;
    margin-left: 5px;
  }

  .right {
    display: inline-block;
    text-align: right;
    width: 100%;
  }

  .right span {
    margin-right: 10px;
  }

  // Vertical menu for small screens
  @media only screen and (max-width: 600px) {
    height: auto;
    margin-left: 5px;

    .left {
      margin-left: 0;
    }

    .right {
      margin-left: 10px;
    }

    .left, .right {
      display: inline;
      position: relative;
      width: auto;
    }

    .left span, .right span {
      display: inline-block;
      height: 2em;
      margin-left: 5px;
      text-align: left;
      width: auto;
    }
  }

  @media only screen and (max-width: 495px) {
    .left span, .right span {
      min-width: 100px;
    }
  }

  .selected {
    color: $menu-selected-color;
  }

  .selected:hover {
    cursor: default;
  }
}
