@import 'variables.scss';

.proze {

  p {
    margin-left: 0;
  }

  .title, .author {
    color: $proze-structural-markup;
    display: block;
    font-style: italic;
  }

  .character {
    color: $proze-character;
    font-style: bold;
  }

  .dialogue {
    color:  $proze-dialogue;
  }

  .thing {
    color: $proze-thing;
    font-style: italic;
  }
}
