$background-light: #eeeeee;

$banner-color: white;

$content-color: #444444;

$menu-color: #252525;
$menu-selected-color: #777777;

$proze-background-shadow: #ccc;
$proze-background: #fff;
$proze-character: #0e8fba;
$proze-dialogue: #179e39;
$proze-structural-markup: #6a0293;
$proze-thing: #c68515;
