$background-light: #eeeeee;

$banner-color: white;

$content-color: #444444;

$menu-color: #252525;
$menu-selected-color: #777777;

$proze-background-shadow: #ccc;
$proze-background: #e5e5e5;
$proze-character: #1c88ab;
$proze-dialogue: #1d8438;
$proze-structural-markup: #7b5ac9;
$proze-thing: #d63d4a;
